doctype html
html(lang='zh')
    include includes/head.pug
    include includes/style.pug
    include includes/widgets.pug
    body(style="font-family: Ubuntu, 'Noto Sans SC', Arial, Helvetica, sans-serif; background-color:white; margin: 0;")
        .body-wrapper
            .content
                a.logo-wrapper(href='http://10.249.80.151/')
                    img.logo(src='assets/images/lug-pub-logo.svg')
                h1.heading
                    | 这里是 <b>云萝</b> desu!

                h2.section-heading
                    | 公共访问资源 (正经)
                .container
                    +link-button('Gitea', 'http://10.249.80.151:3000')
                    +link-button('Sharelatex', 'http://10.249.80.151:5000')
                    +link-button('SyzOJ', 'http://10.249.80.151:5283')
                    +link-button('Pastebin', 'http://10.249.80.151:9958')
                hr.divider-dotted

                h2.section-heading
                    | 公共访问资源 (游戏)
                .container
                    +link-button('MC 服务器文档', 'http://10.249.80.151:25566')
                    +link-button('MC 服务器卫星云图', 'http://10.249.80.151:8123')
                    +link-button('Screeps Client', 'http://10.249.80.151:60808/(https://screeps.vaala.cloud)/')
                hr.divider-dotted

                h2.section-heading
                    | 部署中
                .container
                    +link-button('公共网盘(read only)', 'http://10.249.80.151/')
                footer
                    p.copyright HITSZ Linux User Group © 2021
    //      #background
    //
      <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>
      <script>
      VANTA.TOPOLOGY({
      el: "#background",
      mouseControls: true,
      touchControls: false,
      gyroControls: false,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 1.00,
      scaleMobile: 1.00,
      color: 0xecedfc,
      backgroundColor: 0xffffff
      })
      </script>
